body {
	width: auto;
	height: auto;
	background-color: #ddd;
}

.notif-bar{
 	height:50px;
  	line-height: 50px;
  	background-color:#e5e5e0;
  	width:80%;
  	margin-left:10%;
  	margin-top:7px;
  	float:left;
  	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  	text-align:center;
}

.not-approved{
 	background-color:red;
}
.approved{
 	background-color:green;
 }

.header {
	width: 100%;
	height: 50px;
	display: block;
}

.fa-bars {
	float: right;
	margin-left: 85px;
	clear: both;
}

h2 {
	text-align: center;
}

.nav {
	position: absolute;
	top: 0;
	width: 240px;
	height: 100%;
	background: #37474F;
	color: white;
	transform: translateX(-240px);
}

.slide-in {
	animation: slide-in .8s ease-in forwards;
}

.slide-out {
	animation: slide-out .8s ease-out forwards;
}

@keyframes slide-in {
	0% {transform: translateX(-240px);}
	100% {transform: translateX(0);}
}

@keyframes slide-out {
	0% {transform: translateX(0);}
	100% {transform: translateX(-240px);}
}

ul {
	list-style: none;
	padding-left: 0;
}

.button {
	font-size: 20px;
	height: 60px;
	width: 240px;
	margin: 10px;
	padding-left: 40px;
	display: flex;
	align-items: center;
	justify-content: left;
}

#back {
	float: left;
	padding-left: 0;
	margin-top: 0;
	margin-left: 20px;
}

#active-device {
	background-color: #455A64;
}
