.notif-bar{
  height:50px;
  line-height: 50px;
  background-color:#e5e5e0;
  width:80%;
  margin-left:10%;
  margin-top:7px;
  float:left;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align:center;
}

.not-approved{
  background-color:red;
}
.approved{
  background-color:green;
}
